body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(173, 44, 44);
      background-color: antiquewhite;
      text-align: center;
}

button{
    color: blue;
    background-color: aqua;
}